{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'orders/style.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="{% static 'orders/static.js' %}"></script>
</head>
<body style="background-color: #121212; height: 100%;">
    <div class="jumbotron text-center" style="margin: 0px;">
      <h1>CS50 PROJECT3</h1>
      <p><em>Pizza Web Application</em></p>
    </div>

    {% block body %} {% endblock %}


  </body>
</html>
